<%= @player1 %>! You have attacked <%= @player2 %>! <br>
<%= @player1 %>! You have <%= @player1hp %> HP! <br>
<%= @player2 %>! You have <%= @player2hp %> HP!

<form action='/play'>
<input type="submit" value="Play Again">
</form>
