<%= @player1_name %>! You have attacked <%= @player2_name %>! <br>
<%= @player1_name %>! You have <%= @player1hp %> HP! <br>
<%= @player2_name %>! You have <%= @player2hp %> HP!

<form action='/play'>
<input type="submit" value="Play Again">
</form>
